# Dependencies
node_modules
package-lock.json
yarn.lock

# Electron
dist
out
*.app

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local